Uebung3/xconv2/test/xconv_local.wsdl

<?xml version="1.0"?>

<definitions name="XConv"
  targetNamespace="urn:XConv"
  xmlns:xc="urn:XConv"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <xsd:schema targetNamespace="urn:XConv">
       <xsd:simpleType name='ISO4217currencyCode'>
         <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}"/>
         </xsd:restriction>
       </xsd:simpleType>
    </xsd:schema>
  </types>

  <message name="getXConvRequest">
    <part name="currency" type="xsd:ISO4217currencyCode"/>
    <part name="amount" type="xsd:decimal"/>
  </message>
  <message name="getXConvResponse">
    <part name="currency" type="xsd:ISO4217currencyCode"/>
    <part name="amount" type="xsd:decimal"/>
  </message>
  <message name="UnsupportedCurrency">
    <part name="fault" element="xc:UnsupportedCurrency" /> 
  </message>
  <message name="getAuthorRequest">
    <part name="attribute" type="xsd:string"/>
  </message>
  <message name="getAuthorResponse">
    <part name="attributeValue" type="xsd:string"/>
  </message>
 

  <portType name="XConvPort">
    <operation name="getXConv">
      <input message="xc:getXConvRequest"/>
      <output message="xc:getXConvResponse"/>
      <fault message="xc:UnsupportedCurrency" name="UnsupportedCurrency" /> 
    </operation>
    <operation name="getAuthor">
      <input message="xc:getAuthorRequest"/>
      <output message="xc:getAuthorResponse"/>
    </operation>
  </portType>

  <binding name="XConvBinding" type="xc:XConvPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getXConv">
      <soap:operation soapAction="urn:XConvAction#getXConv"/>
      <input><soap:body use="literal" namespace="urn:XConv"/></input>
      <output><soap:body use="literal" namespace="urn:XConv"/></output>
      <fault name="UnsupportedCurrency"><soap:body name="UnsupportedCurrency" use="literal" namespace="urn:XConv"/></fault>
    </operation>
    <operation name="getAuthor">
      <soap:operation soapAction="urn:XConvAction#getAuthor"/>
      <input><soap:body use="literal" namespace="urn:XConv"/></input>
      <output><soap:body use="literal" namespace="urn:XConv"/></output>
    </operation>
  </binding>

  <service name="XConvService">
    <port name="XConvPort" binding="xc:XConvBinding">
        <!--soap:address location="http://univie.hoerbe.at/xconv/soap_server.php"/-->
        <soap:address location="http://127.0.0.1/xconv2/soap_server_local.php"/>
    </port>
  </service>

</definitions>